.highlight-orange{
    color: orange;
}

h1{
    font-size: 50px;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}

.half-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
}

.half-width p{
    text-align: justify;
    color: rgb(99, 99, 99);
}

#top-part{
    background-image: url("../assets/top-banner.png");
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

section{
    height: 500px;
}

.link-button{
    padding: 10px 20px;
    color: white;
    background-image: linear-gradient(45deg, lightsalmon, orange);
    text-decoration: none;
    border-radius: 5px;
}

#second-part{
    padding-top: 70px;
    background-image: url("../assets/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}